[Unit]
Description=remote pi
After=network.target

[Service]
ExecStart=npm run app
WorkingDirectory=/home/pi/src/remote-pi
Environment="VIDEO_PATH=/home/pi/shared"
Environment="DISPLAY=:0"
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

