[Unit]
Description=vlc remote
After=network.target

[Service]
ExecStart=npm run app
WorkingDirectory=/home/pi/src/vlc-remote
Environment="VIDEO_PATH=/home/pi/Videos"
Environment="DISPLAY=:0"
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
