.button {
    border-radius: 25px;
    padding: 8px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.videoPageContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #2e2d2b;
    color: #e0ddd7;
}

.playbackContainer {
    position: fixed;
    top: auto;
    border-top: 1px solid #e0ddd7;
    box-shadow: 0px -8px 20px #e0ddd7;
    padding-top: 4px;
    background-color: #2e2d2b;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 20%;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

.title {
    text-align: center;
}

.pauseButton {
    padding: 5px 5px 0 5px;
}
.pauseButton svg {
    width: 30px;
}

.glow {
    box-shadow: 0px 0px 15px #83ccd6;
}

.stopButton {
    padding: 5px 5px 0 5px;
}
.stopButton svg {
    width: 30px;
}

.seekContainer {
    display: flex;
    flex-direction: row;
}

.seekButton {
    flex: 1;
    font-weight: 700;
}

.pauseButton, .stopButton, .seekButton {
    border: 1px solid #e0ddd7;
    background-image: linear-gradient( #2e2d2b , #63625e);
}

.pauseButton:active, .stopButton:active, .seekButton:active {
    background-color: #63625e;
    background-image: none;
}

.timer {
    margin-left: 5px;
    margin-bottom: 2px; 
}

.directory_container {
    margin: 5px;
}
.directory_header {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient( #63625e, #2e2d2b);
    padding: 8px 5px 3px 2px;
    border-radius: 6px;
    cursor: pointer;
}
.directory_name {
    font-size: 20px;
    font-weight: 700;
}
.directory_backButton {
    width: 25px;
    margin-right: 10px;
}
.disabled {
    opacity: 50%;
}
.directory_dir {
    margin: 5px;
    font-weight: 700;
    margin-top: 5px;
    border: 1px solid #e0ddd7;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #474642;
}
.directory_videoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.directory_videoName {
    color: #2e2d2b;
    background-color: #83ccd6;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.directory_viewed {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: end;
}
.directory_viewed label, input {
    cursor: pointer;
}
.directory_body {
    margin-top: 8px;
}
