.button {
    border: 1px solid black;
    border-radius: 25px;
    padding: 8px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.top {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: end;
}

.videoDir {
    margin-left: 20px;
}

.videoDirName {
    font-weight: 700;
    margin-top: 5px;
}

.videoName {
    background-color: #32a891;
}

.playbackContainer {
    position: sticky;
    border: 1px solid black;
    background-color: white;
    bottom: 5px;
    min-height: 20%;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.pauseButton {
    background-color: #65a832;
}

.stopButton {
    background-color: #a85d32;
}

.seekContainer {
    display: flex;
    flex-direction: row;
}

.seekButton {
    flex: 1;
    background-color: #9dfac9;
    font-weight: 700;
}
