.button {
    border: 1px solid black;
    border-radius: 25px;
    padding: 8px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 2px #888;
}

.top {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: end;
}

.videoPageContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.videoListContainer {
    margin-right: 5px;
}

.videoDir {
    margin: 5px 0 5px 5px;
    font-size: 15px;
}

.videoDirName {
    font-weight: 700;
    margin-top: 5px;
    border: 1px solid #e6ede8;
    padding: 10px;
    cursor: pointer;
}
.videoDirName svg {
    float: right;
}
.videoDirName:hover {
    background-image: linear-gradient( #76b082 , white);
}
.videoDirName-expanded {
    background-image: linear-gradient( #9bb0a0 , white);
}
.videoDirName-closed {
    background-image: linear-gradient( #e6ede8 , white);
}

.videoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videoName {
    background-image: linear-gradient( #9ad9c1 , white);
    border: 1px solid #9ad9c1;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.videoName:hover {
    background-image: linear-gradient( #86cfb3 , white);
}

.playbackContainer {
    position: fixed;
    top: auto;
    border-top: 1px solid black;
    background-color: #f7f4e6;
    bottom: 5px;
    left: 0;
    width: 100%;
    min-height: 20%;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

.title {
    text-align: center;
}

.pauseButton {
    background-color: #8aeda2;
    padding: 5px 5px 0 5px;
}
.pauseButton svg {
    width: 30px;
}

.stopButton {
    background-color: #faa7b5;
    padding: 5px 5px 0 5px;
}
.stopButton svg {
    width: 30px;
}

.seekContainer {
    display: flex;
    flex-direction: row;
}

.seekButton {
    flex: 1;
    background-color: #9dfac9;
    font-weight: 700;
}

.viewed {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: end;
}
.viewed label, input {
    cursor: pointer;
}

.hidden {
    display: none;
}